@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: prevent layout shift */
html, body, #root { height: 100%; }

html, body { margin: 0; padding: 0; }
#root { min-height: 100vh; width: 100%; overflow-x: hidden; }
